# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# IDEs / OS
.idea/
.DS_Store
Thumbs.db

# Virtual Environments
venv/
env/
ENV/
.env

# Scripts temporários ou scratch (se quiser subir, apague esta linha)
# scratch/
